@font-face {
  font-family: "hum_me_tight";
  src: url("./fonts/Mf_HugMeTight.ttf") format("truetype");
}
@font-face {
  font-family: "tahoma";
  src: url("./fonts/Tahoma-Regular-font.ttf") format("truetype");
}
